#loginDiv{
    width: 28%;
    margin: auto;
    margin-top: 80px;
    border-radius: 10px;
    background-color: #fea641;
    padding: 20px 15px;
}
#loginDiv img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#loginDiv>h2{
    margin-top: 10px;
    text-align: center;
}
#loginDiv>input{
    width: 100%;
    height: 35px;
    margin-top: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #595959;
    padding-left: 10px;
    font-size: 15px;
    color: white;
}
#loginDiv>input::placeholder{
    color: white;
}
#loginDiv>button{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #595959;
    cursor: pointer;
    font-size: 18px;
    color: #fea641;
    font-weight: bold;
}
#loginDiv>button:hover{
    background-color: #343434;
}
#loginDiv>hr{
    width: 100%;
    border: none;
    border-top: 1px dashed rgb(0, 0, 0);
    margin-top: 20px;
    outline: none;
}
#newUser{
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}
#newUser:hover{
    color: white;
}