#moviePagination{
    width: 35%;
    display: flex;
    justify-content: center;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: rgb(202, 201, 201);
    margin: auto;
    margin-bottom: 15px;
}